# Auto detect text files and perform LF normalization
* text=auto

# Specific files
.mvn/ batch=file
mvnw batch=file
mvnw.cmd batch=file

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.svg binary
*.ico binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary

# Documentation
*.md text diff=markdown